#cevhershare { display: none; position: absolute; width: 65px; float: left; padding: 0; text-align: center; list-style: none !important; margin: 0; z-index: 99; }
#cevhershare li { display: block; margin: 5px; padding: 0; overflow: hidden; text-align: center; list-style-type: none !important; background-image:none !important;}
#cevhersharex { display: none; list-style-type: none !important; width: 100%; float: left; margin: 0 0 10px; padding: 0; }
#cevhersharex a { line-height: 14px; text-decoration: none; }
#cevhersharex li { float: left; margin-right: 20px; line-height: 18px; list-style-type: none !important; background:url() no-repeat !important;}
.cevhershare-button { font-size: 11px; font-family: Arial, Tahoma; padding: 2px 4px; background: #f7f7f7; color: #444; border: 1px solid #ddd; display: block;margin: 0 0 5px; }
.cevhershare-button:hover { border-color: #aaa; }
.credit { margin: 0; padding: 0; line-height: 9px; }
.credit a { font-size: 9px; color: #ccc; text-decoration: none; font-family: Arial; line-height: 9px; }
.credit a:hover { font-size: 9px; color: #003399; text-decoration: none; font-family: Arial; line-height: 9px; }
.FBConnectButton_Small{background-position:-5px -232px !important;border-left:1px solid #1A356E;}
.FBConnectButton_Text{margin-left:12px !important ;padding:2px 5px 3px !important;}